.custom-button {
    height: 38px;
    gap: 8px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #F28D35; 
    color: white; 
    border: none; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .custom-button:hover {
    background-color: #e27b2d; /* darken color on hover */
  }
  